body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Styles for the body sections */
.main-section {
    display: flex;
    flex-direction: column;
    background-color: #8B4513;
    color: #FFF7E6;
    min-height: 300px;
    padding: 18px;
}

.info-section {
    color: #1D1D1D;
    background-color: #FFF7E6;
    min-height: 400px;
    padding: 80px 60px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #F6B26B;
    color: #1D1D1D;
    font-weight: 300;
    min-height: 200px;
    padding: 180px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: #1D1D1D;
    background-color: #FFF7E6;
    padding: 120px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 14px;
    color: #FFF7E6;
    background-color: #8B4513;
}

/* Subsections of the body */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    gap: 24px;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.action-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #fba82d;
    border-radius: 10px;
    padding: 24px 80px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Styles for other elements */
.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

.title {
    font-size: 24px;
    font-weight: 900;
    padding: 20px;
    text-align: center;
}

.content {
    flex: 1 1 calc(25% - 15px);
    font-size: 16px;
    padding: 20px;
    max-width: 250px;
    text-align: center;
}
@media (max-width: 1024px) {
    .content {
        flex: 1 1 calc(50% - 15px);
    }
}
@media (max-width: 600px) {
    .content {
        flex: 1 1 100%;
    }
}

#quote {
    font-size: 24px;
    font-style: italic;
    margin: 0 0 24px 0;
    line-height: 1.5;
    color: #1D1D1D;
}

#author {
    font-weight: 700;
    margin: 0;
    text-align: right;
    color: #1D1D1D;
    align-self: flex-end;
}

.content img {
    max-width: 100px;
    padding: 24px;
    margin-bottom: 8px;
    border: #fba82d solid 4px;
}

.logo img {
    max-width: 40px;
    margin-right: 8px;
}

.footer img {
    width: 18px; 
    height: 18px; 
    margin-right: 8px;
}

.action-content {
    flex: 1;
    text-align: left;
}

.action-content h2 {
    font-size: 32px;
    font-weight: 900;
    margin: 0 0 20px 0;
}

.action-content p {
    color: #1D1D1D;
}

a {
    color: #FFF7E6;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p {
    font-size: 18px;
    color: #FFF7E6;
}

h1 {
    font-size: 48px;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    color: #1D1D1D;
    background-color: #fba82d;
    border: none;
    border-radius: 10px;
    max-width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: #f79400;
}
button.action-button {
    border: 2px solid #1D1D1D;
}

img {
    max-width: 300px;
    border-radius: 10px;
}

h1, h2, .logo {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5px;
}

body, p, a, button {
    font-family: "Outfit", sans-serif;
}

::selection {
    background: #1D1D1D;
    color: #FFF7E6;
}
